---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Equine Insulin Converter</title>
  <meta name="description" content="A simple WebApp to convert and compare insulin measurements between assays.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <script defer data-domain="equine-insulin-convert.org" src="https://plausible.io/js/plausible.outbound-links.js"></script>
</head>
<body>
<a class="invisible" href="http://www.tiho-hannover.de/pferde">
<header>
  <table>
    <tr>
      <td class="logo-container">
        <div class="logo"></div>
      </td>
      <td>
        University of Veterinary Medicine Hannover, Foundation<br>
        <span class="blue">Clinic for Horses</span>
      </td>
    </tr>
  </table>
</header>
</a>
<div class="banner">
</div>
<section class="intro" style="overflow: hidden">
  <h1>Equine Insulin Converter</h1>
  <h2>Background</h2>
  <details>
  <summary>
    <strong>Pituitary <i>pars intermedia</i> dysfunction</strong> (PPID; also
    called <strong>equine Cushing syndrome</strong>) and the <strong>equine
    metabolic syndrome</strong> (EMS) are associated with an increased risk for
    <strong>laminitis</strong> mediated by <strong>insulin
    dysregulation</strong>. To detect insulin dysregulation, it is necessary to
    measure blood insulin concentrations in the fasted horse or pony, or during
    more sensitive test protocols. However, the assays available to measure
    insulin in horses and ponies provide discordant results. This <strong>Web
    App</strong> provides means to compare insulin values obtained with certain
    assays to <strong>reference ranges and cut-offs</strong> established using
    other assays, or simply to convert blood insulin concentrations from one
    assay to another.
  </summary>
  <figure style="margin: 1%; float: right; max-width: 98%; line-height:1.4">
    <img src="images/insulin_assays_20221110.png" alt="Pairs of assays for which a comparison is possible." style="width: 500px; max-width: 100%; margin: 8px">
    <figcaption><b>Fig. 1 &mdash; Pairs of assays for which a comparison is possible.</b></figcaption>
  </figure>
  <p>
    This web app encapsulates the relationship between pairs of assays we and
    our partners came to compare with each other over the years. An
    <strong>assay-specific insulin measurement</strong> can be converted to an
    <strong>approximate value</strong> of what would have been obtained with 
    other assays using polynomials. We currently provide conversion for the
    assay pairs presented in <b>figure 1</b>.
  </p>
  <p>    
    To use the app enter an insulin measurement obtained with one of the
    available assays (in µIU/mL) and press enter or click the
    &lsquo;convert&rsquo; button.Please bear in mind that the conversion adds
    additional uncertainty to the measurement and that every medical decision
    should take the clinical circumstances into account.
  </p>
  </details>
</section>
<section class="insulin" style="overflow: hidden">
  <div id="converter">
  <h2>Converter</h2>
    <ul>
    {% for assay in site.data.models %}
      <li>
        <span class="assay_sn">{{ assay.shortname }}</span>
        <span class="conv_input">
          <input id="{{ assay.id }}" onfocus="removeText(this);" oninput="validateNumber(this);"> µIU/mL
        </span>
        <span id="{{ assay.id | append: '_range' }}" class="assay_range">[1&ndash;{{ assay.range }} µIU/mL]</span>
      </li>
    {% endfor %}
      <li>
        <button id="convert" type="button" onfocus="removeText(this);" onclick="conv()">Convert!</button>
      </li>
    </ul>
  </div>
  <div class="assays">
    <h2>Assay details</h2>
    <ul>
    {% for assay in site.data.models %}
      <li>
        <strong>{{ assay.shortname }}:</strong> {{ assay.name }}, {{ assay.manufacturer }}
      </li>
    {% endfor %}
    </ul>
  </div>
</section>
<section class="more">
  <h2>More information</h2>
    <a class="invisible" href="https://www.ogt-reference-provider.org/">
    <table id="orp-teaser">
    <tr>
      <td class="teaser-container"></td>
      <td class="teaser-text">
        Discover our other app, the <strong>OGT Reference Provider</strong> with a dynamic
        reference range (90 to 180 min) for the oral glucose test, providing a more practicable test for
        insulin dysregulation!<br><b>&#8594; Visit ogt-reference-provider.org!</b>
      </td>
    </tr>
  </table>
  </a>
  <p>
    As demonstrated in <b>figure 2</b>, insulin cut-offs are not applicable
    as-is independently of the assay used, warranting the use of
    <strong>assay-specific reference ranges</strong> or, in their absence,
    approximate solutions such as our conversion app.
  </p>
  <figure id="fig2">
    <img src="images/conv_comp_plot.png" alt="Comparison of different published cut-offs across assays." style="width: 800px; max-width: 100%; margin: 8px">
    <figcaption style="width: 800px; max-width: 100%; margin-bottom: 5px"><b>Fig. 2 &mdash; Comparison of different published cut-offs across assays.</b><br><br>
    1. <a href="https://sites.tufts.edu/equineendogroup/">Equine Endocrinology Group, <i>Recommendations for the Diagnosis and Treatment of Equine Metabolic Syndrome (EMS)</i>, 2016, accessed November 2017.</a><br>
    2. <a href="https://sites.tufts.edu/equineendogroup/">Equine Endocrinology Group, <i>Recommendations for the Diagnosis and Treatment of Equine Metabolic Syndrome (EMS)</i>, 2020, accessed August 2021.</a><br>
    3. <a href="http://dx.doi.org/10.1186/s13028-018-0358-8">Warnken T, Delarocque
    J, Schumacher S, Huber K, Feige K. Retrospective analysis of insulin
    responses to standard dosed oral glucose tests (OGTs) via naso-gastric
    tubing towards definition of an objective cut-off value. Acta Veterinaria
    Scandinavica 2018;60. doi:10.1186/s13028-018-0358-8.</a><br>
    4. <a href="http://dx.doi.org/10.1016/j.domaniend.2017.10.008">Meier AD, de Laat MA, Reiche DB, Pollitt CC, Walsh DM, McGree JM, et al. The oral glucose test predicts laminitis risk in ponies fed a diet high in nonstructural carbohydrates. Domestic Animal Endocrinology 2018;63:1–9. doi:10.1016/j.domaniend.2017.10.008.</a>
    </figcaption>
  </figure>
  <p>
    It is also interesting to note that the lines connecting the converted
    values to the original cut-offs cross at some point, indicating that
    <strong>the conversion of insulin measurements is not merely proportional to an
    assay-specific coefficient</strong>. The interaction between assays and
    insulin ought to be investigated using recombinant equine insulin or
    standardised pooled samples available to all laboratories.
  </p>
  <p>
    <strong>A paper describing the exact methodology to obtain the conversion
    functions is underway</strong>. Briefly, a polynomial function of degree 1
    to 2 was estimated using cross-validation and data from samples in which
    insulin was measured using two or more assays. Each function was visually
    inspected to preclude overfitting. The intervals given on the right hand
    side before any conversion are the ranges for which data is available in
    the app. After conversion prediction intervals are given instead. They
    describe the uncertainty around the conversion which depends on the amount
    of available data and concordance of the assay pairs.
  </p>
  <h3 id="suggested">Suggested readings:</h3>
  <ul>
    <li>  
      <a href="http://dx.doi.org/10.1111/jvim.15423">Durham AE, Frank N, McGowan
      CM, Menzies‐Gow NJ, Roelfsema E, Vervuert I, et al. ECEIM consensus
      statement on equine metabolic syndrome. J Vet Intern Med 2019;33:335–49.
      doi:10.1111/jvim.15423.</a>
    </li>
    <li>
      <a href="http://dx.doi.org/10.1016/j.domaniend.2011.05.001">Tinworth KD,
      Wynn PC, Boston RC, Harris PA, Sillence MN, Thevis M, et al. Evaluation of
      commercially available assays for the measurement of equine insulin.
      Domestic Animal Endocrinology 2011;41:81–90.
      doi:10.1016/j.domaniend.2011.05.001.</a>
    </li>
    <li>
      <a href="http://dx.doi.org/10.1007/s00580-011-1284-6">Öberg J, Bröjer J,
      Wattle O, Lilliehöök I. Evaluation of an equine-optimized enzyme-linked
      immunosorbent assay for serum insulin measurement and stability study of
      equine serum insulin. Comp Clin Pathol 2011;21:1291–300.
      doi:10.1007/s00580-011-1284-6.</a>
    </li>
    <li>
      <a href="http://dx.doi.org/10.2460/ajvr.73.10.1596">Borer-Weir KE, Bailey
      SR, Menzies-Gow NJ, Harris PA, Elliott J. Evaluation of a commercially
      available radioimmunoassay and species-specific ELISAs for measurement of
      high concentrations of insulin in equine serum. American Journal of
      Veterinary Research 2012;73:1596–602.
      doi:10.2460/ajvr.73.10.1596.</a>
    </li>
    <li>
      <a href="http://dx.doi.org/10.1177/1040638714536560">Banse HE, McCann J,
      Yang F, Wagg C, McFarlane D. Comparison of two methods for measurement of
      equine insulin. J VET Diagn Invest 2014;26:527–30.
      doi:10.1177/1040638714536560.</a>
    </li>
    <li>
      <a href="http://dx.doi.org/10.1186/s12917-016-0828-z">Warnken T, Huber K,
      Feige K. Comparison of three different methods for the quantification of
      equine insulin. BMC Vet Res 2016;12.
      doi:10.1186/s12917-016-0828-z.</a>
    </li>
    <li>
      <a href="http://dx.doi.org/10.1111/jvim.14657">Carslake HB, Pinchbeck GL,
      McGowan CM. Evaluation of a Chemiluminescent Immunoassay for Measurement
      of Equine Insulin. J Vet Intern Med 2017;31:568–74.
      doi:10.1111/jvim.14657.</a>
    </li>
  </ul>
</section>
<section>
  <ul style="list-style:none; text-align:center; padding: 0">
    <li><a href="https://www.researchgate.net/profile/Julien_Delarocque">Julien
    Delarocque</a> wrote this Web App using data provided by:</li>
    <li><a href="https://www.researchgate.net/profile/Tobias-Warnken">Tobias Warnken</a> from the <a>University of Veterinary Medicine Hannover, Foundation</a></li>
    <li><a>Harry Carslake</a> from the <a>University of Liverpool</a></li>
    <li><a>Andy Durham</a> from <a>Liphook Equine Hospital</a></li>
  </ul>
  <div style="margin-top: 20px; text-align:center">
    <img src="/images/tiho.png" style="height: 100px; display: inline; margin: 5px 20px 5px 0">
    <img src="/images/liverpool.svg" style="height: 80px; display: inline; margin: 15px 20px 15px 20px">
    <img src="/images/liphook.jpg" style="height: 90px; display: inline; margin: 10px 0 10px 20px">
  </div>
</section>
<script>
{% include script.js %}</script>
<!--[if lt IE 9]><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
<script type="text/javascript" src="js/details-shim.min.js"></script>
</body>
</html>
